body, main {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

table {
	margin: auto;
}

td {	
	width: 100px;
	height: 100px;
	text-align: center;
}

.vertical {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.horizontal {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
